@import"variablesExo.scss";
h1,h3{
    color:$fond;
    font-family: $police;
}
.text{
    color: $colorPolice;
    span{
        color: rgb(190, 9, 9);
        font-style: italic;
    }
    
}
div{
    background-color: beige;
    .text2{
        font-size: $policeSize;
    }
    :hover{
        color: $fond;
        
    }
}
